:root {
  --primary-color: #dffbf8;
  --secondary-color: #ffffff;
  --main-font-family: "Raleway", serif;
}

body {
  border: 20px solid var(--primary-color);
  padding-top: 50px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.row-wrapper {
  background-color: #ecfffd;
  border-radius: 20px;
  margin: 50px auto;
  padding: 50px 0;
  width: 1000px;
}

.weather-app-img {
  border: 20px solid white;
  border-radius: 10px;
  width: 400px;
}

.weather-app-img-wrapper {
  padding-left: 60px;
}

.weather-app-text-wrapper {
  padding-right: 60px;
}

.hoya-text-wrapper {
  padding-left: 60px;
}

.hoya-img-wrapper {
  padding-right: 70px;
}

.row-wrapper small {
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.bold {
  font-weight: 900;
}

.hoya-img {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

.btn {
  background-color: #64cac0;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 600;
  padding: 8px 18px;
  margin: 15px;
}

.btn:hover {
  background-color: #35867e;
  color: white;
}

.btn:focus {
  box-shadow: none;
}

@media (max-width: 1001px) {
  .row-wrapper {
    width: 800px;
  }
}

@media (max-width: 992px) {
  .row-wrapper {
    width: 70%;
  }

  .weather-app-img-wrapper {
    padding-left: 0;
  }

  .weather-app-img {
    margin-bottom: 20px;
  }

  .weather-app-text-wrapper {
    padding-right: 0;
  }

  .hoya-text-wrapper {
    padding-left: 0;
  }

  .hoya-img-wrapper {
    padding-right: 0;
  }

  .hoya-img {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  body {
    border: 15px solid var(--primary-color);
  }

  .weather-app-img {
    border: 15px solid var(--secondary-color);
    width: 270px;
  }

  .btn {
    font-size: 14px;
    margin: 15px 5px;
  }

  .hoya-img {
    padding: 25px 25px;
    width: 250px;
  }
}

@media (max-width: 540px) {
  body {
    border: 10px solid var(--primary-color);
  }

  .weather-app-img {
    border: 10px solid var(--secondary-color);
    width: 280px;
  }

  .hoya-img {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .weather-app-img {
    width: 200px;
  }

  .btn {
    font-size: 13px;
    margin: 8px 5px;
  }

  .hoya-img {
    padding: 25px 25px;
    width: 200px;
  }
}

@media (max-width: 385px) {
  .btn {
    font-size: 11px;
    padding: 6px 15px;
    margin: 8px 3px;
  }
}
